body{
    background-color: #fff;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    padding-top: 5px;
    
}
.logo img{
    width: 109px;
    margin-left: 76.5px;
    margin-top: 2.5px;
    height: 22px;
}
.teams{
    margin-left: 233px;
    margin-top: -22px;

}
.teams a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
}


.products a, .functions a, .price a, .otrasli a, .resursy a, .support a, .download a, .sign_in button{
    text-decoration: none;
}
.products a:hover, .functions a:hover, .price a:hover, .otrasli a:hover, .resursy a:hover, .support a:hover, .download a:hover, .sign_in button:hover{
    text-decoration: underline;
}

.products{
    margin-left: 305px;
    margin-top: -21px;
}
.functions{
    margin-left: 400.5px;
    margin-top: -18px;
}
.price{
    margin-left: 582px;
    margin-top: -17px;
}
.otrasli{
    margin-left: 640px;
    margin-top: -18px;
}
.resursy{
    margin-left: 727px;
    margin-top: -17.5px;
}
.support{
    margin-left: 806px;
    margin-top: -17.5px;
}
.download{
    float: right;
    margin-right: 139px;
    margin-top: -17.5px;
    color: #4b53bc;
}
.sign_in{
    float: right;
    margin-right: -157px;
    margin-top: -24px;
    color: #4b53bc;
    padding: 5px 12px 5px 12px;
    
}
.sign_in button{
    background-color: #fff;
    border-color: #4b53bc;
    color: #4b53bc;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 3px;
    border: 0.5px solid #4b53bc;
    padding: 5px 12px 5px 12px;
    margin-right: -14px;
    margin-top: -4px;
}
.line1{
    border: 1px solid #0067b8;
    width: 1550px;
    height: auto;
    margin-top: 15px;
    margin-right: 0 auto;
    background-color: #0067b8;
    color: white;
    
}
.line1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500px;
}

.line2{
    border: 1px solid #5d5bd4;
    background-color: #5d5bd4;
    width: 1550px;
}
.line2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}
.line2 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.image img{
    width: 1550px;
}
.image h2{
    margin-top: -450px;
    margin-left: 100px;
    font-size: 38px;
    color: white;
    font-weight: 630;
    width: 300px;
    margin-left: 130px;;
}
.image p{
    margin-left: 130px;
    width: 300px;
    color: white;
    font-weight: 24px;
    font-size: 15px;

}
.one{
    margin-left: 130px;
    padding: 5px;
    width:150px;
    color: #5d5bd4;
    border: 1px solid #5d5bd4;
    font-weight: bold;
}
.two{
    margin-left: 30px;
    padding: 5px;
    background-color: #5d5bd4;
    color: white;
    border: 1px solid white;
    width: 100px;
    font-weight: bold;
}









.main_img img{
    height: 446px;
    width: 1429px;
    margin-top: 40px;
    margin-left: 20px;
}
.news .main_text h2{
    margin-top: -350px;
    margin-left: 100px;
    font-size: 30px;
    color: #fff;
    font-family: inherit;
}
.news .main_text p{
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
}
.news .main_text button{
    background-color: blue;
    color: white;
    margin-left: 30px;
    margin-top: 60px;
    border: none;
    border-radius: 7px;
    width: 190px;
    height: 50px;
    cursor: pointer;
}



.news{
    display: inline-block;
}
