<<<<<<< HEAD
body{
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}
.logotip{
    position: absolute;
    height: 106px;
    margin-left: 233.5px;
    margin-top: 168px;
}
.comment{
    position: absolute;
    margin-top: 238.5px;
    margin-left: 261.7px;
    font-size: 28px;
    font-family:  Helvetica, Arial, sans-serif;
}
.forma{
    position: absolute;
    border: 1px solid green;
    left: 850px;
    top: 132px;
    height: 390px;
    width: 395px;
    background-color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px #d9dbdd;
}
.first{
    position: relative;
    left: 15px;
    width: 340px;
}
.main{
    position: absolute;
    width: 394.5px;
    height: 347px;
    background-color: #ffffff;
    border-radius: 7px;

    box-shadow: 
    3px 3px 5px #d9dbdd, /* Тень в правом нижнем углу */
    -3px 3px 5px #d9dbdd, /* Тень в левом нижнем углу */
    0px 0px 2px #d9dbdd, /* Тень в правом верхнем углу */
    0px 0px 2px #d9dbdd; /* Тень в левом верхнем углу */

    
    left: 849.5px;
    top: 132px;
    border: 1px solid white;
}
.buttons{
    position: relative;
    height: 52px;
    width: 364px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    left: 15px;

}
#button2{
    top: -5px;
}
.vhod{
    position: relative;
    top: -6px;
    left: 15px;
}
.knopka_vhod{
    height: 48px;
    width: 364px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    background-color: #1877f2;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.zabyl{
    position: relative;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    top: 11px;
    
}
.link_zabyl{
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}
.line{
    position: relative;
    width: 1px;
    width: 361px;
    border: 1px solid #dadde1;
    top: 33px;
    margin-left: 15px;
    margin-left: 15px;
}
.create_account{
    position: absolute;
    border: 1px solid #42b72a;
    background-color: #42b72a;
    border-radius: 7px;
    padding: 14px 15px; /*1-төбесі 2-сол, оң жағы*/
    top: 276px;
    left: 82px;
    height: 18px;
    width: 200px;
    
    
}
#knopka_create{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
   
}
.comments_under{
    position: absolute;
    top: 495px;
    left: 851.3px;
}
.famous_comment{
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}
.famous_comment > a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer{
    position: absolute;
    height: 196px;
    width: 100%;
    top: 720px;
    border: 1px solid red;
    background-color: #ffffff;
    border: none;
    margin: 0 auto;
    left: 0px;
    right: 0px;
  
}
.lang{
    text-decoration: none;  
    color: #8a8d91; 
}
.lang:hover{
    text-decoration: underline;   
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 269.5px;
    margin-right: 200px;
    margin-top: 17.5px;  
    font-size: 12px;
    
}
li {
    display: inline; /* или display: inline-block; */
    margin-right: 6.8px; /* Добавляем небольшой отступ между элементами списка */
}

ul button{
    font-size: 25px;
    font-weight: bolder;
    color: #6a7180;
    border-color: #ccd0d5;
    border-radius: 3px;
    width: 30px;
    height: 10px;
    padding: 0px 0px 25px;   
}
.line2{
    position: relative;
    width: 980px;
    border: 1px solid #dddfe2;
    top: 10px;
    margin-left: 268px;
    margin-right: 270px;
}
.lang2{
    text-decoration: none;
    color: #8a8d91; 
    line-height: 19.3px;
    margin-right: 10px;
}
.lang2:hover{
    text-decoration: underline;
}
small{
    position: absolute;
    margin-left: 270px;
    margin-top: 21px;
    font-size: 11px;
    color: #8a8d91;
}
=======
body{
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}
.logotip{
    position: absolute;
    height: 106px;
    margin-left: 233.5px;
    margin-top: 168px;
}
.comment{
    position: absolute;
    margin-top: 238.5px;
    margin-left: 261.7px;
    font-size: 28px;
    font-family:  Helvetica, Arial, sans-serif;
}
.forma{
    position: absolute;
    border: 1px solid green;
    left: 850px;
    top: 132px;
    height: 390px;
    width: 395px;
    background-color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px #d9dbdd;
}
.first{
    position: relative;
    left: 15px;
    width: 340px;
}
.main{
    position: absolute;
    width: 394.5px;
    height: 347px;
    background-color: #ffffff;
    border-radius: 7px;

    box-shadow: 
    3px 3px 5px #d9dbdd, /* Тень в правом нижнем углу */
    -3px 3px 5px #d9dbdd, /* Тень в левом нижнем углу */
    0px 0px 2px #d9dbdd, /* Тень в правом верхнем углу */
    0px 0px 2px #d9dbdd; /* Тень в левом верхнем углу */

    
    left: 849.5px;
    top: 132px;
    border: 1px solid white;
}
.buttons{
    position: relative;
    height: 52px;
    width: 364px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    left: 15px;

}
#button2{
    top: -5px;
}
.vhod{
    position: relative;
    top: -6px;
    left: 15px;
}
.knopka_vhod{
    height: 48px;
    width: 364px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    background-color: #1877f2;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.zabyl{
    position: relative;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    top: 11px;
    
}
.link_zabyl{
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}
.line{
    position: relative;
    width: 1px;
    width: 361px;
    border: 1px solid #dadde1;
    top: 33px;
    margin-left: 15px;
    margin-left: 15px;
}
.create_account{
    position: absolute;
    border: 1px solid #42b72a;
    background-color: #42b72a;
    border-radius: 7px;
    padding: 14px 15px; /*1-төбесі 2-сол, оң жағы*/
    top: 276px;
    left: 82px;
    height: 18px;
    width: 200px;
    
    
}
#knopka_create{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
   
}
.comments_under{
    position: absolute;
    top: 495px;
    left: 851.3px;
}
.famous_comment{
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}
.famous_comment > a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer{
    position: absolute;
    height: 196px;
    width: 100%;
    top: 720px;
    border: 1px solid red;
    background-color: #ffffff;
    border: none;
    margin: 0 auto;
    left: 0px;
    right: 0px;
  
}
.lang{
    text-decoration: none;  
    color: #8a8d91; 
}
.lang:hover{
    text-decoration: underline;   
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 269.5px;
    margin-right: 200px;
    margin-top: 17.5px;  
    font-size: 12px;
    
}
li {
    display: inline; /* или display: inline-block; */
    margin-right: 6.8px; /* Добавляем небольшой отступ между элементами списка */
}

ul button{
    font-size: 25px;
    font-weight: bolder;
    color: #6a7180;
    border-color: #ccd0d5;
    border-radius: 3px;
    width: 30px;
    height: 10px;
    padding: 0px 0px 25px;   
}
.line2{
    position: relative;
    width: 980px;
    border: 1px solid #dddfe2;
    top: 10px;
    margin-left: 268px;
    margin-right: 270px;
}
.lang2{
    text-decoration: none;
    color: #8a8d91; 
    line-height: 19.3px;
    margin-right: 10px;
}
.lang2:hover{
    text-decoration: underline;
}
small{
    position: absolute;
    margin-left: 270px;
    margin-top: 21px;
    font-size: 11px;
    color: #8a8d91;
}
>>>>>>> ff120c6f4d2135314d6fde60a0bea41005c287e6
